body {
    display: grid;
    min-height: 100vh;
}
.hero {
    align-self: start;
}
.footerwrapper {
    align-self: end;
}  
.sectionone__text{
    font-family: var(--font-2);
    font-size: var(--sub);
}
.form{
    display: flex;
    flex-direction: column;
}
label{
    font-family: var(--font-2);
    font-size: var(--sub);
}

.sectionone{
    margin-top: 15px;
}
input,textarea{
    padding: 10px 15px;
    margin: 10px 0px;
    border: 1.5px solid #212529;
    border-radius: 3px;
    background-color: #eeeeee;
}

.dark-btn{
    margin-top: 10px;
} 
@media (max-width: 1024px) {
    .grid {
      grid-template-columns: repeat(1, 1fr);
    }
    .sectiontwo__left {
      order: 1;
    }
    .sectiontwo__right {
      order: 0;
    }
}

@media(max-width:768px){
    .footerlinks{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
}
